body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 100%; }

.categories {
    text-align: center;
    margin-top:8%;
} 

.title_name {
    font-family: 'Sriracha', cursive;
    font-size:4em;
    font-weight: bold;
    font-style:italic;
}

rt {
    font-size:1.3em;
}


.des {
    margin-top:3%;
    font-size:1.5em;
    text-align: center;
}

.rubi {
    font-weight: bold;
    margin-top:5%;
}

.brand_name {
    text-align: center;
    margin:10% auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width:80%;
}

#lv {
    font-family: futura-pt, sans-serif;
    font-size: 5.5em;
    font-weight: bold;
}

.section_img ul {
 
    margin:0 auto;
    display:flex;
    justify-content: center;
}

.section_img {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 50px 25px;
}

li{
  width: 70%;
  margin: 0 0 100px;
  /* list-style: none; */
}

img{
  width: 100%;
  height: auto;
}

.fadeinup {
 
}

.fadeInUpright {
  opacity : 0;
  transform: translateX(-100px);
  transition: 1.5s;
  margin-top:60%;
}

.fadeInUp {
  opacity : 0;
  transform: translateX(100px);
  transition: 1.5s;
}



















@media (min-width: 481px){
h1 {
    margin-bottom: 60px;
    max-width:1200px;
    margin:0 auto;
   }
}