body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 100%; }

.categories {
    text-align: center;
    margin-top:8%;
} 

.title_name,.mainitem_name {
    font-family: 'Sriracha', cursive;
    font-size:5.5em;
    font-weight: bold;
    font-style:italic;
}

rt {
    font-size:1.3em;
}


.des {
    margin-top:3%;
    font-size:1.5em;
    text-align: center;
}

.rubi {
    font-weight: bold;
    margin-top:5%;
}

.brand_name {
    text-align: center;
    margin:10% auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width:80%;
}

#lv {
    font-family: futura-pt, sans-serif;
    font-size: 5.5em;
    font-weight: bold;
}

#ch {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 5.5em;
    font-weight: bold;
}

#her {
    font-family: 'Sanchez', serif;
    font-size: 5.5em;
    font-weight: bold;
}

.section_img ul {
    margin:0 auto;
    display:flex;
    justify-content: center;
}

.section_img {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 50px 25px;
  background: linear-gradient(180deg, #FFD6D6 0%, #FFD6D6 70%, #fff 50%, #fff 100%);
  margin-bottom:10%;
}

li{
  width: 70%;
  margin: 0 0 100px;
}

img{
  width: 100%;
  height: auto;
}

.fadeinslide {
}

.fadeInUpright {
  opacity : 0;
  transform: translateX(-100px);
  transition: 1.5s;
  margin-left: -4.5%;
  margin-top: 80px;
  
}

.fadeInUp {
  opacity : 0;
  transform: translateX(100px);
  transition: 1.5s;
  margin-right: -4.5%;
}

.mainitem {
    text-align: center;
    margin:0 20% 15%;
}

.mainitem_name {
    display: flex;
    align-items: center;
}
.mainitem_name:before,.mainitem_name:after{
    content: "";
	flex-grow: 1;
	height: 1px;
	background: #000;
    display: block;
    width:50px;
}

.mainitem_name:before {
    margin-right: .4em;
}

.mainitem_name:after {
    margin-left: .4em;
}

.items {
    display:none;
}

.items_pic{
    max-width: 1020px;
    display:flex;
    flex-wrap:wrap;
    margin: 0 auto;
}

.items_pic li {
    width: calc(100% / 2 - 24px); 
    padding:5% 0;  
}

.items_pic li:nth-child(odd) {
    padding-right:30px;
}

.items_pic li:nth-child(even) {
    padding-left:30px;
}

.name {
    text-align: center;
    font-size: 2em;
    padding-top:20%;
    color:#000;
}

.item_all_button_box {
    margin:0 auto;
    width:350px;
    
}

.item_all_button_box,.item_all_button_button {
    padding: 10px;
    background-color: #555555;
    width: 40%;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1.2px;
    transition: all .3s;
}

.item_all_button_box:hover {
    opacity: .5;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.seeitem {
    text-align: center;
    position:relative;
}

.seeitem::before{
    content:"";
    width:30px;
    height:30px;
    position:absolute;
    top:0;
    right:10%;
    margin: auto;
    box-sizing:border-box;
    border:15px solid transparent;
    border-left:24px solid #fff;
}


















@media (min-width: 481px){
h1 {
    margin-bottom: 60px;
    max-width:1200px;
    margin:0 auto;
   }
}